<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Создать сказку</title>
  <link type="text/css" href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" />

</head>
<body>
<!-- partial:index.partial.html -->
<div class="demo-page">
  <main class="demo-page-content">
    <section>
      <div class="href-target" id="intro"></div>
      <h1 class="package-name">Успешно</h1>
      <p>
        Теперь мы создаем твою уникальную сказку. Нам потребуется около 5 минут, мы пришлем сказку в телеграм. Эту страницу можно закрывать
      </p>
    </section>
  </main>
</div>
<!-- partial -->
  
</body>
</html>
